<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Sabin site</h1></a>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create/blog">New Blogs</a></li>
    </ul>
  </nav>