<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt
        assumenda id, ratione dolor numquam nisi temporibus repudiandae quod,
        neque recusandae distinctio accusantium ipsum repellendus reiciendis?
        Inventore magni alias nulla commodi?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
