<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Sabin | <%= title %></title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>Blog Sabin site</h1></a>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create/blog">New Blogs</a></li>
    </ul>
  </nav>

    <div class="blogs content">
        <h2>ALL BLOGS</h2>
        <% if (blogs.length != 0) {%>
            <% blogs.forEach(blog => { %>
                <h3><%= blog.title %></h3>
                <h5><%= blog.snippet %></h5>
            <% }) %>
        <% } else { %>
            <h3>Nothing to display.</h3>
        <% } %>
    </div>
</body>
</html>

