<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Sabin</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Sabin site</h1></a>
        </div>
        <ul>
            <li><a href="/"></a>Blogs</li>
            <li><a href="/about"></a>About</li>
            <li><a href="/create/blogs"></a>New Blogs</li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>ALL BLOGS</h2>
    </div>
</body>
</html>

