<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SabinOnWeb</title>
</head>
<body>
    <nav>
        <div class="title">
            <a href="/"><h1>Web of Sabin</h1></a>
            <p>Blog site for the Web gang</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog/create">Dive in</a></li>
        </ul>
    </nav>
    <div class="errorContent"><h2>OOPS...gang, page not found</h2></div>
</body>
</html>